.button1 {
    --color1: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color1);
    z-index: 1;
   }
   
   .button1::before, .button1::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -20%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color1);
    transition: 1s ease;
   }
   
   .button1::before {
    top: -1em;
    left: -1em;
   }
   
   .button1::after {
    left: calc(100% + 2em);
    top: calc(100% + 2em);
   }
   
   .button1:hover::before, .button1:hover::after {
    height: 550px;
    width: 550px;
   }
   
   .button1:hover {
    color: rgb(0, 0, 0);
   }
   
   .button1:active {
    filter: brightness(.8);
   }
   