.nameAdmin{
    background-color: rgb(193, 239, 219);
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.nameAdmin:hover{
    background-color: lightgray;
}
.logo-icon {
    max-width: 100%;
    height: auto;
  }
  
  .logo-text {
    max-width: 100%;
    height: auto;
  }


  